﻿@model IEnumerable<CoreBB.Web.Data.Models.Forum>
@inject CoreBB.Web.Data.CoreBBContext _dbContext
@{
    ViewBag.Title = "Forums";
}
<div class="container" style="margin-top:60px">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Forums</strong><span> - Total:@Model.Count()</span>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Since</th>
                    <th>Topics</th>
                    <th>Owner</th>
                    <th>Locked</th>
                    <th>Operation</th>
                </tr>
                @foreach (var f in Model)
                {
                    <tr>
                        <td><a asp-controller="Topic" asp-action="Index" asp-route-forumid="@f.Id">@f.Name</a></td>
                        <td>@f.Description</td>
                        <td>@f.CreateDateTime.ToShortDateString()</td>
                        <td>@_dbContext.Topic.Count(t => t.ForumId == f.Id && t.ReplyToTopicId == null)</td>
                        <td><a asp-controller="User" asp-action="Detail" asp-route-name="@f.Owner.Name">@f.Owner.Name</a></td>
                        <td><input type="checkbox" disabled="disabled" asp-for="@f.IsLocked" /></td>
                        <td>
                            <a class="btn-sm btn-primary" asp-action="Detail" asp-route-id="@f.Id">Detail</a>
                            <a class="btn-sm btn-success" asp-controller="Topic" asp-action="Index" asp-route-forumid="@f.Id">Enter</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>