﻿
@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>

@model CoreBB.Web.Models.User.LogInViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container col-4 offset-4" style="margin-top:120px">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Login</strong>
        </div>
        <div class="card-body">
            <form asp-action="LogIn" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" type="password" />
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Log In" />
            </form>
        </div>
    </div>
</div>