﻿@model CoreBB.Web.Models.User.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container col-4 offset-4" style="margin-top:120px">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Register</strong>
        </div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" type="password" />
                </div>
                <div class="form-group">
                    <label asp-for="RepeatPassword"></label>
                    <input class="form-control" asp-for="RepeatPassword" type="password" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" style="min-height:120px" asp-for="Description"></textarea>
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Register" />
            </form>
        </div>
    </div>
</div>