﻿@model CoreBB.Web.Data.Models.Topic
@{
    ViewBag.Title = Model.Title;
}

<h3>Original</h3>
@Html.Partial("_TopicReading", Model)
<hr />
<h3>Replies</h3>
@foreach (var t in Model.InverseReplyToTopic)
{
    @Html.Partial("_TopicReading", t);
}
