﻿@model CoreBB.Web.Data.Models.Forum
@{
    ViewBag.Title = Model.Name;
}

<div class="container" style="margin-top: 60px">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Topics of [@Model.Name] [Totoal: @Model.Topic.Count()]</strong>
            @if (!Model.IsLocked)
            {
                <a class="btn-sm btn-success float-right" asp-action="Create" asp-route-forumid="@Model.Id">New Topic</a>
            }
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Posted By</th>
                    <th>Post Time</th>
                    <th>Locked</th>
                    <th>Operation</th>
                </tr>
                @foreach (var t in Model.Topic)
                {
                    <tr>
                        <td><strong>@t.Id</strong></td>
                        <td><a asp-action="Detail" asp-route-id="@t.Id">@t.Title</a></td>
                        <td><a asp-action="Detail" asp-controller="User" asp-route-name="@t.Owner.Name">@t.Owner.Name</a></td>
                        <td>@t.PostDateTime.ToShortDateString()</td>
                        <td><input type="checkbox" asp-for="@t.IsLocked" disabled /></td>
                        <td><a class="btn-sm btn-primary" asp-action="Detail" asp-route-id="@t.Id">Read</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
