﻿@{
    ViewBag.Title = "CoreBB Home";
}

<div class="container" style="height:700px">
    <div class="card border-info" style="margin-top:120px">
        <div class="card-header text-white bg-info">
            <strong>Introduction</strong>
        </div>
        <div class="card-body">
            <h2>Welcome to CoreBB!</h2>
            <p>
                CoreBB is a simple bulletin board web application written in ASP.NET Core 3.0.<br />
                <ul>
                    <li>Model-View-Controller</li>
                    <li>Basic Authentication</li>
                    <li>Tag Helpers and HTML Helpers</li>
                    <li>Entity Framework Core</li>
                </ul>
            </p>
            <p>
                In the future, we hope this small demo project grow up to be an open source, fully functional web application.
            </p>
        </div>
    </div>
</div>