﻿@using CoreBB.Web.Data.Models
@model Forum
<div class="container col-6 offset-3" style="margin-top:120px">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Forum Detail Information</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td><strong>ID</strong></td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><strong>Owner</strong></td>
                    <td><a asp-action="Detail" asp-controller="User" asp-route-name="@Model.Owner.Name">@Model.Owner.Name</a></td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td><strong>Locked</strong></td>
                    <td><input type="checkbox" asp-for="IsLocked" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td><strong>Create Date</strong></td>
                    <td>@Model.CreateDateTime.ToShortDateString()</td>
                </tr>
                <tr>
                    <td><strong>Operation</strong></td>
                    <td>
                        @if (ViewData["Mode"] == "ShowingDetail")
                        {
                            @if (User.IsInRole(Roles.Administrator))
                            {
                                <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Update</a>
                                <a class="btn-sm btn-warning" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                            }
                            <a class="btn-sm btn-success" asp-controller="Topic" asp-action="Create" asp-route-forumid="@Model.Id">Post Topic</a>
                        }
                        @if (ViewData["Mode"] == "ConfirmingDelete")
                        {
                            <input type="submit" class="btn-sm btn-warning" value="Confirm" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>