﻿@model CoreBB.Web.Data.Models.Message
@{
    ViewBag.Title = "New Message";
}

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="ToUserId" />
    <div class="container col-6 offset-3" style="margin-top:120px">
        <div class="card border-info">
            <div class="card-header text-white bg-info">
                Sending message to
                <a asp-controller="User" asp-action="Detail" asp-route-name="@Model.ToUser.Name">@Model.ToUser.Name</a>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea class="form-control" style="min-height:120px" asp-for="Content"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn-sm btn-success" value="Send" />
            </div>
        </div>
    </div>
</form>